{% extends '::base.html.twig' %}

{% block title %} Selección de Vuelos {% endblock %}

{% block body %}
<div class="panel panel-default" style="margin:20px">
  <div class="panel-heading">
    <h2 class="panel-title"> Vuelos Disponibles </h2>
  </div>
  <div class="panel-body">
    {{ form_start(formulario) }}
      {#<div class="form-group">#}
      {#  {{ form_row(formulario.fechahora, {'attr':{'class':''}}) }}#}
      {#</div>#}
      <div class="form-group">
        {{ form_row(formulario.idorigen, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.iddestino, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.idtarifa, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_row(formulario.idavion, {'attr':{'class':'form-control'}}) }}
      </div>
      {{ form_widget(formulario.Buscar , {'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(formulario) }}
  </div>
</div>
{% endblock %}
