{% extends '::base.html.twig' %}

{% block title %} Reservación de Vuelo {% endblock %}

{% block body %}
<div class="panel panel-default" style="margin:20px">
  <div class="panel-heading">
    <h2 class="panel-title"> Vuelos Disponibles </h2>
  </div>
  <div class="panel-body">
    {{ form_start(formulario) }}
      <div class="form-group">
        {{ form_row(formulario.letra, {'attr':{'class':'form-control'}}) }}
      </div>
      {#<div class="form-group">#}
      {#  {{ form_row(formulario.fila, {'attr':{'class':'form-control'}}) }}#}
      {#</div>#}
      {{ form_widget(formulario.Guardar, {'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(formulario) }}
  </div>
</div>
{% endblock %}
